streamlit==1.26.0           # For building the web application interface
nltk==3.8.1                  # Natural Language Toolkit for text processing
openai==0.27.8               # For using OpenAI API if you're integrating with it
pandas==2.0.3                # For data manipulation and analysis
python-docx==0.8.11          # To work with Microsoft Word documents
PyPDF2==3.0.1                # For reading and manipulating PDF files
easyocr==1.7.0               # For optical character recognition (OCR) from images
transformers==4.33.0         # For state-of-the-art natural language processing
pillow                        # Add Pillow without version to get the latest
tokenizers                    # Add tokenizers without version to get the latest


